.contact {
    .container {

        .row {
            margin-top: 4rem;
        }

        .af_profile {
            height: 18rem;
            margin: 0 auto;
            width: 100%;

            @media (min-width: 450px){ 
                height: 25rem;
                margin: 0 auto;
                width: 100%;
            }
            
        } 

        img.af_logo {
            height: 150px;
            width:150px;
            
            @media (min-width: 992px){
                margin: 2rem auto;
                }
        }

        h3 {
            margin: 3rem auto;
        }
    }
}

// .mailing_list {
//     .container {
//         margin-top:6rem;
//     }
// }