.contact {
    .container {

        .row {
            margin-top: 4rem;
        }

        .af_profile {
            height: 450px;
            width: 300px;
        } 

        img.af_logo {
            height: 150px;
            width:150px;
            margin: 2rem auto;
        }

        h3 {
            margin-bottom: 3rem;
        }
    }
}

.mailing_list {
    .container {
        margin-top:6rem;
    }
}