body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.rounded-pill {
  border-radius: 5rem;
}

footer {
  background-color: #303146;

  p {
    margin: 1rem auto;
    color: #959595;
  }
}

.social-links {
  a {
   color: #00A7B4;
   padding: 0 .2em 0 .2em;

   @media (min-width: 992px) {
   padding: 0 1em 0 1em;
   }

   &:hover {
     color: #FFFFFF;
   }
  }
}

//placeholder text change to white

input::-webkit-input-placeholder { /* WebKit browsers */
  color:    #fff;
  font-weight: 300;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #fff;
  font-weight: 300;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #fff;
  font-weight: 300;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #fff;
  font-weight: 300;
}
