header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  background-color: #3E3F5A;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  .masthead-content {
    z-index: 1;
    position: relative;
    .masthead-heading {
      display: none;
    }

    
    .avery_logo {
      background: url(/img/af_header_lg.png);
      height: 10rem;
      width: 20rem;
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0 auto 0em;

      @media (min-width: 650px){ 
        width: 30rem;
        margin: 0 auto 5em;
      }

      @media (min-width: 992px){ 
        width:40rem;
      }
    }

    .avery_gif {
      margin-top: 2em;

      @media (min-width: 992px) {
        width:700px;
       }
    }



  }

}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
  
    .masthead-content {
      .masthead-heading {
        font-size: 6rem;
      }
      .masthead-subheading {
        font-size: 4rem;
      }
    }
  }
}

