.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #303146;

  .navbar-nav {

    margin: 0 auto;
    .nav-item {
      a {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        color: #00A7B4 !important;

          &:hover {
            color: #FFFFFF !important;
            font-family: 'IM Fell Double Pica', serif;
            font-style: italic;
          }
        
      }
    }
  }
  &.navbar-dark {

    .navbar-toggler {
     border-color: transparent !important;
    }

  }

}

// large screen style adjustments 

@media (min-width: 992px){
  .navbar li {
      margin-left : 2em;
      margin-right : 2em;
  }
}
