.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: fade-out($black, 0.3);

  .navbar-nav {

    margin: 0 auto;
    .nav-item {
      .nav-link {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
      }
    }
  }
  &.navbar-dark {

    .navbar-toggler {
     border-color: transparent !important;
    }

  }

}

// large screen style adjustments 

@media (min-width: 992px){
  .navbar li {
      margin-left : 2em;
      margin-right : 2em;
  }
}
